body{
background-image: url("../images/vintage-concrete.png");

} 

#backcolor {
outline: solid 1px #cccccc;
background: #ffffff;
height: 46px;


}



#myName {
	margin-left: 290px;
	padding: 11px 10px;
	background: #4aaaa5;
	color: white;
	display: inline;
	float: left;
	font-size: 24px;
	font-weight: bold
}

img {
	height: 200px;
	width:  200px;
	float: left;
	margin: 30px 20px 0px 20px;
}

h1 {
	margin-left: 12px;
	margin-right: 12px;
	padding: 20px;
	color: #4aaaa5;
	font-size: 24px; 
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: bold;
	border-bottom: solid 2px #e8e8ee;
}

h2 {
	padding: 20px;
	border-bottom: solid 2px #e8e8ee;
	margin-right: 12px;
	margin-left: 12px;
}
#para {
	margin-top: 20px;
	margin-left: 20px;
	width: 600px;
	font-size: 15px;
	line-height: 250%;
}
.container {
	width: 960px;
	margin: 0 auto;
	clear: both;
	padding: 40px;

}

.mainSection{
	width: 650px;
	background: #ffffff;
	float: left;
	height: 500px;
	color: #777777;

}

.sidebar {
	position: relative;
	width: 270px;
	background: #ffffff;
	float: left;
	text-align: center;
	margin-left: 20px;
	height: 200px;
	color: #4aaaa5;
	font-size: 18px;
	font-weight: bold;
}

.links{

	display: inline;
}
.icon {
	position: absolute;
	width: 64px;
	height: 64px;
	top: 50px;
	left: 3px;

}
.linkedin {
	position: absolute;
	width: 64px;
	height:64px;
	top: 50px;
	left:83px;
}
 
.overflow {
	position: absolute;
	width: 58px;
	height: 58px;
	
	top: 53px;
	left: 165px;
}

li {
	display: inline;
	
}

ul{
	
	width : 200px;
	margin-left: 505px;
	display: inline;
	
	margin-right:320px;
	font-size: 15px;
	
	
	}

a{
	color: #777777;
	padding-left: 13px;
	padding-right: 13px;
	display: inline;
	text-decoration: none;
	width: 50px;	
	
}

#navBar {
	padding: 12px;

}

.footer {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 25px;
  	background-color: #666666;
  	text-align: center;
  	color: white;
  	border-top: solid 6px #4aaaa5;
}



